<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>7B41E46D4C24E916FAB34B32ABEA287D</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
